<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Heart Disease Prediction System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h3><font size="5" color="white">Heart Disease Prediction System</font></h3>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul>
<li class="active"><a href="TrainML">Train Machine Learning Algorithm on Heart Dataset</a></li>
<li><a href="Predict">Predict Heart Disease</a></li>
<li><a href="index">Logout</a></li>
			
		</ul>
		<br class="clearfix" />
	</div>
	
	<br/>
	<center><h3><p style="background-color: white;"><font size="3" color="indigo">Heart Disease Prediction System</p></h3></center>
	{{ error|safe }}
	
</body>
</html>

